@model List<Voiture>

<h1>Coucou on est dans le contrôleur Voitures</h1>

<a asp-action="Create">Créer une voiture</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Chevaux</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var voiture in Model){
            <tr>
                <td>@voiture.Id</td>
                <td>@voiture.Name</td>
                <td>@voiture.NbChevaux</td>
                <td>
                    <a asp-controller="Voitures" asp-action="Detail" asp-route-idVoiture="@voiture.Id">Détail</a>
                    |
                    <a asp-controller="Voitures" asp-action="Edit" asp-route-id="@voiture.Id">Modifier</a>
                    |
                    <a asp-controller="Voitures" asp-action="Delete" asp-route-id="@voiture.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
