@model EntityDiscover092022.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            Commentaire : 
        </dt>
        <dd>
            @foreach(var comment in Model.Comments)
            {
                
                @(comment.Author +" : "+comment.Content)
                
                <br />   
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
